#footerStyle {
  position: relative;
  height: 206px;
  background: #ffffff;
  margin-top: 10rem;
}
.footerBottom {
  background: #c4c4c4;
  height: 100px;
}
.text {
  position: relative;
  top: 70px;
  margin-left: 1rem;
}
.text2 {
  position: relative;
  top: -60px;
}
