.togglebtn {
  display: block;
  min-width: min-content;
  padding: 0.5rem;
  margin-top: 0.3rem;
  }

  .password {
    display: flex;
    background: var(--clr-grey-10);
  }

  .form-control {
    margin-bottom: 1.25rem;
  }

  .input{
      width: 100%;
  }