.nav-btn{
    background:  linear-gradient(-135deg,black 92% , rgb(255, 225, 0) 92%);
    background-clip: text;
    color: transparent;
    background-size: 100%;
    transition: background-size 300ms ease-in;
}

.nav-btn:hover
{
    transform: scale(1.15);
    background-size: 1100% ;
}
.toggle-button {
    position: absolute;
    top: 2.2rem;
    right: 1.2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    margin-right: 2rem;
    border-radius: 5px;
    background: black;
}
#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    font-weight: bold;
}
/* .navbar-links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.navbar-links li a {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1.5rem;
    display: block;
}

.navbar-links li:hover {
    background-color: var(--text-color);
} */
@media (max-width: 480px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        align-items: flex-start;
    }

    .navbar-links {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .navbar-links.active {
        display: flex;
    }

    #navbar {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        font-size: 1.6rem;
    }
}