.nav-btn{
    background:  linear-gradient(-135deg,black 92% , rgb(255, 225, 0) 92%);
    background-clip: text;
    color: transparent;
    background-size: 100%;
    transition: background-size 300ms ease-in;
}

.login:hover{
    background-color: black;
    color: white;
    transition: all ease-in 0.4s;
}

/* @media (top:10vh) {

    .navbar{
        background-color: black;
    }
} */

.navbar.active {
    background-color: rgb(0, 0, 0);

}

.navbar.active a{
    transition: all ease 0.3s;
    color:white;
}

.navbar.active button{
    transition: all ease-in 0.3s;

    color: white;
}

.login:hover{
    border: 0.5px white solid;
}

.nav-btn:hover
{
    transform: scale(1.15);
    background-size: 1100% ;
} 

