.TestimonialsBox {
  width: 19rem;
  /* padding: 0rem 1rem; */
  height: 30rem;
  border-radius: 2rem;
  /* background-image: url('https://www.linkpicture.com/q/Vector-1.svg'); */
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
}
