.TestimonialsBox {
  width: 25rem;
  padding: 0rem 1rem;
  height: 30rem;
  border-radius: 2rem;
  background-image: url('https://www.linkpicture.com/q/Vector-1.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 5ch;
}
